.popup {
    position: relative;
    width: 320px;
    background: linear-gradient(
            180deg,
            #5F5CF0 0%,
            #DDDCFC 50%,
            #FFFFFF 100%
    );
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.defaultState {
    background: linear-gradient(
            180deg,
            #5F5CF0 0%,
            #DDDCFC 50%,
            #FFFFFF 100%
    );
}

.successState {
    background: linear-gradient(
            180deg,
            #5F5CF0 0%,
            #8F8DF4 50%
    );
    max-height: 230px;
}

.errorState {
    background: linear-gradient(
            180deg,
            #F05C5C 0%,
            #8F8DF4 50%
    );
    max-height: 230px;
}