.successState {
    margin-top: 16px;
    padding: 12px;
    border-radius: 8px;
    background: #e2ffe5;
    color: #0a540c;
    border: 1px solid #8ee08f;
}

.errorState {
    margin-top: 16px;
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(to right, #ff7070, #ff4343);
    color: #fff;
    border: 1px solid #c00;
}